@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div id="fh5co-about-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>About</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                    <img id="facts-img" class="img-responsive"  src="/images/prezentacje.png" alt="facts" />
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="about-inner">   
                            <p>Good4you specialising in healthy food was established in May 2016 to complement your health as we believe that health matters most in our busy lives. The mission of the company is to spread the world on a healthy lifestyle and to distribute high quality ecological, natural and bio organic products suitable for a wide range of customers including vegetarian, vegan and diabetics.
                            </p>
                            <p>We value individual choice and recognize that there are multiple factors influencing food decisions, including taste, cultural and family traditions, cost, convenience, nutritional value, safety, sustainability or local production.
                            </p>
                            <p>We recognize that, on an individual basis, food choices must be customized to realistically meet varied needs and preferences.
                            </p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>