@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

 <div id="fh5co-featured-section">
        <div class="content">
         <section class="banner banner-img">
                <div class="centered">
                    <h2 class="banner-heading">Good4you</h2>
                    <p class="banner-text">
                        mobile Eva: 0758 122 3486<br>
                        email: eva@good4you.ltd<br>
                        eva.good4you@gmail.com</p>
                </div><!-- .centered -->
            </section><!-- .banner -->
        </div>
    </div>