@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

 <div id="fh5co-featured-section">
        <div class="content">
         <section class="banner banner-img">
                <div class="centered">
                    <h2 class="banner-heading">Good4you</h2>
                    <p class="banner-text">
                        @Umbraco.GetDictionaryValue("Contact.Mobile")<br>
                        @Umbraco.GetDictionaryValue("Contact.EmailOffice")<br>
                        @Umbraco.GetDictionaryValue("Contact.EmailGmail")</p>
                </div><!-- .centered -->
            </section><!-- .banner -->
        </div>
    </div>