@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}
<div id="fh5co-main-services-section">
    <div class="container">
        @{ Html.RenderAction("RenderTitle", "SiteLayout");}
        @{ Html.RenderAction("RenderGuide", "Guide");}
    </div>
</div>