@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div id="fh5co-main-services-section">
		<div class="container">
			@{ Html.RenderAction("RenderTitle", "SiteLayout");}
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-star"></i></span>
							<div class="desc">
								<h3>Juices</h3>
								<p>Freshly made juices are the best! Chemical processing, preservatives, and pasteurization used in the production of juices destroy vitamins, fiber and microelements. However when juice is pressed cold of the entire fruits and subjected to the slight pasteurization most valuable microelements and vitamins are preserved, provided its 100% juice without added sugar or preservatives</p>
							</div>
							</div>
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-drop"></i></span>
							<div class="desc">
								<h3>Healthy oils</h3>
								<p>Unsaturated vegetables are the most concentrated energy source. Thanks to fats, it is possible to provide vitamins A, D, E, K, which dissolve only in lipids. These are natural organic compounds, insoluble in water. They are composed of carbon, hydrogen, oxygen and often other elements such as nitrogen or phosphorus. In the process of metabolism, fats break down into free fatty acids whose further decomposition is associated with energy production</p>
							</div>
						</div>
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-cup"></i></span>
							<div class="desc">
								<h3>Sugars &amp; Honeys </h3>
								<p>Sugars are found naturally in foods such as fruits and vegetables, wholegrains or as lactose in milk. The main concern should be around added sugars (refined table sugar), syrups and high-fructose corn syrup. It is estimated that a third of added sugar consumption comes from sugar sweetened drinks, a sixth comes from sweets such as chocolates, ice creams and biscuits but half comes from everyday processed foods such as ketchup, salad dressings, bread etc. Avoid processed food! Fortunately, there are natural sweeteners that are healthy and tasty alternatives to refined sugar, high fructose corn syrup, and artificial sweeteners. The lowest in glycemic index and loaded in most nutrients are stevia, birch and coconut sugar whereas honey, molasses, agave syrup can increase the antioxidant intake</p>
							</div>
						</div>
                        <div class="col-md-12 services-inner">
							<span><i class="sl-icon-heart"></i></span>
							<div class="desc">
								<h3>Grains &amp; Flours</h3>
								<p>Whole grains and flours offer a complete package of health benefits, unlike refined flour, which are stripped of valuable nutrients in the refining process. Refining wheat grains creates fluffy flour that makes light, airy breads and pastries, but the process drops more than half of wheat’s B vitamins, 90 percent of the vitamin E, and virtually all of the fiber. Whole grains contain bran and fiber, which slow the breakdown of starch into glucose –thus maintaining a steady blood sugar rather than causing sharp spikes. Brown and wild rice, quinoa, barley, oats, corn, and rye sand meal made from them are healthy choices because they pack in the nutritional benefits of whole grains without any additional ingredients</p>
							</div>
				        </div>
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-music-tone"></i></span>
							<div class="desc">
								<h3>Healthy Snacks</h3>
								<p>Snacking throughout the day is an excellent way to stay energized and alert during even your busiest moments. Our delicious snacks are loaded with nutrients, vitamins, and minerals to keep you powered up!  They will keep your blood sugar levels steady and prevent you from overeating at meals</p>
							</div>
						</div>
						<div class="col-md-12 services-inner">
							<span><i class="sl-icon-rocket"></i></span>
							<div class="desc">
								<h3>Fruit &amp; Veggies</h3>
								<p>Fruits and vegetables are a source of vitamins, minerals, fiber, antioxidants. A diet rich in vegetables and fruits lower blood pressure, reduce risk of heart disease and stroke, prevent some types of cancer, lower risk of eye and digestive problems, and have a positive effect upon blood sugar which can help keep appetite in check. Full nutrients contain only fresh fruits and vegetables from local farms and ecological stalls</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>