<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <h1><img id="logo" src="/images/logotransscale.gif"></h1>
            <nav role="navigation">
                <ul>
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="guide.html">Guide</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="search.html" class="btn search-btn rounded bg-warning" role="button"><span class="search-span"><i class="fas fa-search"></i> Search</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
