<div id="fh5co-featured-section">
    <div class="content">
        <section class="banner banner-img">
            <div class="centered">
                <h2 class="banner-heading">Good4you</h2>
                <p class="banner-text">What we eat can make a considerable difference to our health. A balanced diet is important for everyone, whatever your age.<br> We are working together to make sure that everybody can enjoy the benefits of eating a healthy diet.</p>
            </div><!-- .centered -->
        </section><!-- .banner -->
    </div>
</div>