@inherits UmbracoViewPage

<div id="fh5co-featured-section">
    <div class="content">
        <section class="banner banner-img">
            <div class="centered">
                <h2 class="banner-heading">Good4you</h2>
                <p class="banner-text">@Html.Raw(Umbraco.AssignedContentItem.GetPropertyValue("bannerIntro"))</p>
            </div><!-- .centered -->
        </section><!-- .banner -->
    </div>
</div>