<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT guide ANY>
<!ATTLIST guide id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="2505f5c6-ee10-43fa-9cf8-3a024198dd72" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2020-06-01T23:11:06" updateDate="2020-06-01T23:22:47" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1047" nodeTypeAlias="home">
    <blog id="1053" key="31a9b6e2-96e1-4d99-940c-fb66e23b7786" parentID="1049" level="2" creatorID="1" sortOrder="0" createDate="2020-06-03T17:32:41" updateDate="2020-06-03T17:32:41" nodeName="Blog" urlName="blog" path="-1,1049,1053" isDoc="" nodeType="1052" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1051" nodeTypeAlias="blog" />
    <products id="1056" key="e05c248d-c4d7-4852-bdc5-8043fc1848a6" parentID="1049" level="2" creatorID="1" sortOrder="1" createDate="2020-06-03T17:41:34" updateDate="2020-06-03T17:41:34" nodeName="Products" urlName="products" path="-1,1049,1056" isDoc="" nodeType="1055" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1054" nodeTypeAlias="products" />
    <guide id="1059" key="2f1dedea-edd3-4cea-a74d-e92db0224937" parentID="1049" level="2" creatorID="1" sortOrder="2" createDate="2020-06-03T17:53:15" updateDate="2020-06-03T17:53:15" nodeName="Guide" urlName="guide" path="-1,1049,1059" isDoc="" nodeType="1058" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1057" nodeTypeAlias="guide" />
    <about id="1062" key="fabc84b1-a51c-4ab3-8bef-e9dc699aefd7" parentID="1049" level="2" creatorID="1" sortOrder="3" createDate="2020-06-03T17:57:50" updateDate="2020-06-03T17:57:50" nodeName="About" urlName="about" path="-1,1049,1062" isDoc="" nodeType="1061" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1060" nodeTypeAlias="about" />
  </home>
</root>