<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="2505f5c6-ee10-43fa-9cf8-3a024198dd72" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2020-06-01T23:11:06" updateDate="2020-06-01T23:22:47" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1047" nodeTypeAlias="home">
    <blog id="1053" key="31a9b6e2-96e1-4d99-940c-fb66e23b7786" parentID="1049" level="2" creatorID="1" sortOrder="0" createDate="2020-06-03T17:32:41" updateDate="2020-06-03T17:32:41" nodeName="Blog" urlName="blog" path="-1,1049,1053" isDoc="" nodeType="1052" creatorName="kasiakor" writerName="kasiakor" writerID="1" template="1051" nodeTypeAlias="blog" />
  </home>
</root>